/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, header, nav, h1, a, ul,h4, li,
strong, main, section, img, div, h2, p,
form, fieldset, label, input, textarea,
button, article, footer, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  box-sizing: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  color: inherit;
  background: transparent;
  box-sizing: border-box;
}
div{
  display: block;
}
body {
  background: #f5f5f5;
  font-family: sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 1.16666;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}


.header {
  background:#d32323;
  color: #fff;
  padding-bottom: 10px;
  width: 100%;
}

 /*this will be changed with an actual logo later */

.greeting-logo {
    float: left;
}

.greeting-logo img {
  width: 72px;
  height: 36px;
}

.login-signup {
  float: right;

}

.login-list > li{
  text-align: center;
}

.header-group {
  font-size: 14px;
  margin-left: 14px;
  margin-top: 10px;
}

.header-info {
  margin: 0 auto;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.user-image {
  display: block;
  float: left;
}

.button-stuff {
  float: right;
  display: block;
}

.header-name {
  font-weight: bold;
  /*float: right;*/
}


.header-button {
  /*float: right;*/
}

.header-button:hover, .business-link:hover{
  text-decoration: underline;
}

li {
  list-style: none;
}

a, button, input[type="submit"] {
  cursor: pointer;
}

.login-signup > ul > li > a { /*change this up later*/
  display: block;
  font-size: 14px;
  padding: 8px 16px;
}

.sign-up {
  border: 1px solid #000;
  font-weight: bold;
  border-radius: 8%;
}

.sign-up:hover{
  background-color: #ed0008;
}

.login:hover {
  background: #9b0e00;
}

.login {
  padding: 0;
}

/*This is the section for the signup and login form*/
.mega-container {
  min-height: 1020px;
  background: #fff;
  color: #000;

}

.yowl-header {
  width: 100%;
  background: #d32323;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.yowl-header img {
  width: 72px;
  height: 36px;
}

.header-logo {
  display: block;
  background: #d32323;
  float: none;
  text-align: center;
  padding: 10px 0;
}

.login-form-container{
  display: block;
  margin: 0 auto;
  width: 900px;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message {
  height: 50px;
}

.login-form-box {
    margin-top: 10px;
}

.login-form {
  display: block;
  margin: 10px;

}

/*This 'input' is for the username and passwords fields*/
.login-form input {
  display: block;
  border: 1px solid #ccc;
  padding: 5px;
  width: 300px;
}

.login-form > input[type="submit"] {
    margin-top: 10px;
    color: #fff;
    background: #d90007;
    text-align: center;
    display: block;
}

.password{
  margin-top: 10px;
}

.signup-login-footer {
  width: 100%;
  min-height: 462px;
  background-color: rgba(226, 226, 226, 0.62);
  border-top: 1px solid lightgray;
  display: flex;
  justify-content:  center;
  align-items: flex-end;

}

.copyright {
  padding-bottom: 20px;
}

.form-header {
  color: red;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  float: left;
  display: block;
  width: 100%;
}


.login-signup-redirect, .generic-user {
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
  display: inline-block;
}


.generic-user {
  margin-left: 5px;
  display: inline-block;
}

.login-signup-redirect > a, .generic-user {
  color: #0073bb;
}

.login-signup-redirect > a:hover, .generic-user:hover {
  text-decoration: underline;
}


.signup-logo-container{
  display: block;
  height: 300px;
}
.signup-logo {
  display: block;
  width: auto;
  height: 100%;
}

/* This section is for the business index stuff */
.business-photo {
  display: block;
  width: 58px;
  height: 58px;
  border: 1px solid #000;
  margin-right: 12px;
}



.business-index {
  display: block;
  margin: 0 auto;
  width: auto;
  // border-top: 0.5px solid #ccc;
  padding: 0px 10px;
}

.business-index-header {
  color: #d32323; /* This color is red*/
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 12px;
  text-align: center;
}

.business-lists-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.business-item {
  border: 1px solid #e6e6e6; /*This is a type of gray*/
  padding-top: 12px;
  padding-bottom: 11px;
  padding-left: 12px;
  // min-width: 500px;
  height: 300px;
  width: 275px;
  max-height: 300px;

}


.business-photo {
  float: left;
}

.business-item-info {
  float: left;
}

.business-link {
  color: #0073bb;
  margin-left: 5px;
}

.business-header {
  margin-bottom: 5px;
}

.business-show-address {
  margin-top: 5px;
}

.business-description {
  margin-top: 10px;
}

.business-show-header {
  padding: 0 20px;
  display: flex;
  justify-content: center;
}


.business-show-header{
  margin: 0 auto;
}

.business-show-name {
  font-size: 30px;
  line-height: 1.2em;
  font-weight: bold;
  display: block;
}

.business-show-counter-rating {
  display: flex;
  flex-direction: column;
}

.business-show-rating {
  display: block;
}

.business-show-num-reviews {
  color: #666;
  width: 80px;
  height: 20px;
  text-align: center;
}

.business-show-review-button{
  text-align: center;
  display: block;
  border: 1px solid #8d0005;
  width: 159px;
  color: white;
  background-color: #d90007; /*this is a type of red*/
  height: 36px;
  border-radius: 8%;

}

.counter-rating-review-container {
  display: flex;
  min-width: 320px;
  width: 609px;
  justify-content: space-between;
}

.review-button{
  padding: 8px;
  font-weight: bold;
}

.business-show-pic{
  margin-top: 10px;
  width: 250px;
  height: 250px;
  border: 1px solid black;
}

.business-show-reviews{
  margin: 0 auto;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 20px 30px;
  background: white;
  min-height: 700px;
}

.reviews-header {
  font-weight: bold;
  color: #d32323;
  display: block;
  font-size: 20px;
  margin-bottom: 10px;
}

.reviews-header > b {
  font-weight: none;
  color: black;
}

.review-content {
  display: flex;
  border-top: 1px solid lightgray;
  padding: 17px 0 16px 0;
}

.review-user-info {
  float: left;
  padding: 0 8px;
  min-width: 200px;

}

.reviewer-pic {
  display: block;
  height: 60px;
  width: 60px;
  border-radius: 4px;
  float: left;
  border: 1px solid black; /*TODO: this is temporary and will be removed when I upload an actual picture*/
  margin-right: 5px;
}

.review-author {
  display: block;
  float: left;
  font-size: 14px;
  line-height: 1.28571em;
  color: #0073bb;
  font-weight: bold;
}

.review-main {
  width: 600px;
}



.review-rating-date {
  display: flex;
}

.review-date {
  height: 20px;
  margin-left: 10px;
}

.review-body{
  margin-top: 5px;
}

.review-page {
  display: flex;
  justify-content: center;
  background: white;
  min-width: 1199px;
}

.review-page h1 {
  color: #d32323;
  font-weight: bold;
  margin-bottom: 6px;
  font-size: 16px;
}

.review-page-review-section {
  width: 700px;
  display: block;
  padding: 20px 20px 20px 0;
  padding-left: 20px;
}

.review-business-info {
  border-top: 1px solid lightgray;
  padding-top: 10px;
  margin-bottom: 15px;
}

.review-header-logo {
  border-radius: 4px;
  border: 1px solid black;
  display:block;
  height: 58px;
  width: 58px;
  float: left;
}

.review-business-info-specifics {
  display: block;
  float: left;
  margin-left: 5px;
}

.review-business-name {
  display: block;
  font-size: 14px;
  line-height: 1.28571em;
  color: #0073bb;
  font-weight: bold;
}

.review-business-name:hover {
  text-decoration: underline;
}

.review-business-address {
  display: block;
  font-size: 12px;
  line-height: 1.5em;
}

.review-form-header {
  font-weight: bold;
}

.review-page-old-reviews {
  width: 439px;
  padding: 20px;
  border-left: 1px solid lightgray;
  min-height: 500px;
}

.review-form-actual {
  border: 1px solid darkgray;
  border-radius: 4px;
  padding: 18px 15px 0 15px;
  margin-bottom: 20px;
}

.review-rating-number {
  width: 20px;
}

.comment-body{
  width: 660px;
  border-top: 1px solid lightgray;
  margin-top: 10px;
  padding-top: 12px;
}

.review-form-submit {
  background: linear-gradient(#ed0008, #dd1600);
  color: white;
  padding: 5px;
  font-weight: bold;
  font-size: 12px;
  width: 116px;
  text-align: center;
  border-radius: 4px;
  height: 20px;
  border: 1px solid #b76d6d;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.review-cancel {
  color: #0073bb;
  font-size: 12px;

}

select {
  overflow: hidden;
  background-image: image_url('stars.png');
}

.review-cancel:hover {
  text-decoration: underline;
}

.user-image {
  border: 1px solid black;
}

input[type="radio"] {
    -webkit-appearance: none;
    width: 27px;
    height: 24px;
    background-image: image_url("stars.png");
    vertical-align: bottom;
}

input[type="radio"]:checked {
  background-position: 0 4.4%;
}

input[type="radio"]:checked + input {
  background-color: white;
}

.review-rating {
  float:left;
  display:block;
  width: 126px;
  height: 32px;
}

.search-area {
  background-image: image_url('restaurant2.png');
  background-size: cover;
  min-width: 500px;
  height: 570px;
  width: auto;
  justify-content: center;
  background-color: black;
  background-position: center center;
}

.search-greeting{
  height: 100px;
  width: 57%;
}

.search-greeting li {
  padding-top: 20px;
  float: left;
  font-weight: bold;
}

.search-greeting .sign-up {
  background-color:inherit;
  border: 2px solid white;
  margin-right: 12px;
}

.search-greeting .sign-up:hover {
  background: white;
  color: #666;
}

.search-greeting .login {
  background: inherit;
}

.search-greeting .login:hover {
  border-bottom: 2px solid white;
}

.search-content {
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search-greeting * {
  color: white;
}
.search-bar {
  background: white;
  background: white;
  min-width: 300px;
  min-height: 40px;
  border-radius: 4px 4px 4px 4px;

}

.search-bar-two {
  background: white;
  min-width: 200px;
  min-height: 40px;
  border-radius: 4px 4px 4px 4px;
  color: black;
  margin: 0 20px;
  flex-shrink: 0;
}

.search {
  width: 500px;
}



.search-bar input,label {
  font-size: 20px;
  min-height: inherit;
  padding: 0px 5px;
}

.search-bar label {
  font-weight: bold;
  color: #666; //type of gray
}

.search-bar-two input,label {
  font-size: 20px;
  min-height: inherit;
  padding: 0px 5px;
}

.search-bar-two label {
  font-weight: bold;
  color: #666; //type of gray
}

.search-two {
  width: 500px;
  border-left: 1px solid lightgray;
}

.search-submit, .search-submit-two {
  background: #be2020; //this is dark red
  color: white;
}

.search-submit:hover, .search-submit-two:hover {
  background: white;
  color: darkgray;
  border: 0px 1px solid gray;
}

.search-logo {
  margin-bottom: 20px;
}

.map-page-container {
  display: flex;
  justify-content: center;
  height: 1000px;
}

.map-container {
  margin-top: 20px;
  height: 500px;
  width: 500px;
  padding-bottom: 10px;
  border: 1px solid blue;
}

.star-five   {
  background-image: image_url('stars.png');
  width: 132px;
  height: 18px;
  background-position: 0% 74.2%;
}

.star-one {
  background-image: image_url('stars.png');
  width: 132px;
    height: 18px;
    background-position: 0% 47.6%;
}

.star-two {
  background-image: image_url('stars.png');
  width: 132px;
  height: 18px;
  background-position: 0% 54.3%;
}
.star-three {
  background-image: image_url('stars.png');
  width: 132px;
  height: 18px;
  background-position: 0% 60.9%;
}
.star-four {
  background-image: image_url('stars.png');
  width: 132px;
  height: 18px;
  background-position: 0% 67.6%;
}
.star-zero {
  background-image: image_url('stars.png');
  width: 132px;
  height: 18px;
  background-position: 0% 44.3%;
}

.business-map-info {
  height: 276px;
  width: 300px;
  background-color: #fff;
  display: flex;
  border: 1px solid black;
  align-items: center;
  flex-direction: column;
}

.business-map-container {
  height: 220px;
  width: 286px;
  border: 1px solid gray;
  margin-top: 6px;
}

.business-show-map {
  width: 100%;
  height: 100%;
}

.business-map-address {
  font-weight: bolder;
}

.business-pics-container {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}

.new-businesses-title {
  margin: 10px 0;
  font-weight: bold;
  font-size: 16px;
  color: #be2020;
  text-align: center;

}
